h2{
    color: rgb(201, 46, 46);
}
#blue {
    color: rgb(0, 255, 157);
}
#blueo {
    color:rgb(14, 16, 166)
}
.sea {
    color:steelblue;
}
#font{
    font-size: 22px;
}
.font{
    color: rgb(105, 108, 255);
    font-size: 25px;
}