p{
    border: 1px solid;
    padding: 10px;
    padding: auto; 
    /* padding-left: 20px;
    padding-top: 60px;
    padding-right: 90px;
    padding-bottom: 120px; */
    padding: 20px 40px 60px;
    
    
}